*{
	margin:  0;
	padding: 0;
}
body{
	background-color: #ccc;
}
.yellow{
	background-color: yellow;
}
.blue{
	background-color: blue;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
body > .answers, body > .challenge{
	width: 100%;
	text-align: center;
}
body > .challenge{
	margin-top: 150px;
}
.status, h4.score, .time{
	width: 100%;
	text-align: center;
	margin: 2em 0;
	min-height: 1em;
}
.answers{
	bottom: 1em;
}
.answers > div, .challenge > div{
	width: 160px;
	height: 160px;
	margin: 0 1em;
	display: inline-block;
}
body > .answers > div:hover{
	opacity: 0.5;
	cursor: pointer;
}
.disabled{
	opacity: 0.5;
	cursor: no-drop;
}
.time{
	position: relative;
}
.time:before{
	position: absolute;
	background-color: red;
	width: 20%;
}


/* modal */
.modal{
	z-index: 9999;
	position: absolute;
	width: 90%;
	height: 660px;
	top: 5%;
	left: 5%;
	border: 1px solid red;
	background-color: #bcbcbc;
	text-align: center;
	display: none;
}
.modal h3{
	text-align: center;
	padding-left: 1em;
}

.modal > div{
	display: inline-block;
}
.modal > div > div{
	width: 50px;
	height: 50px;
}
.modal > div > div > span{
	display: block;
}
.modal > .answers > .error{
	opacity: 0.5;
}
h4.score{
	margin-top: 1em;
}

.ranking{
	display: none;
}

.ranking table, .ranking table td, .ranking table th{
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}

.buttons > button {
    background-color: transparent;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.buttons > button > a {
    text-decoration: none;
    color: #000000;
}

.buttons > button:hover {
    background-color: #000000;
}

.buttons > button:hover > a {
    color: #ffffff;
}
